doctype html
html(lang="en")
    head
        title mop
        link(rel="stylesheet", type="text/css", href="style.css")
    body
        nav.nav.has-shadow
            div.nav-left
                a#mop-logo.nav-item MOP

        div.container.is-fluid
            div.notification
                | This is the main mop container
