doctype html
html(lang="en")
    head
        title mop
        link(rel="stylesheet", type="text/css", href="style.css")
    body
        div#content

        script(type="text/javascript").
            const React = require('react');
            const reactDOM = require('react-dom');
            const { App } = require('./app.js');
            reactDOM.render(React.createElement(App), document.getElementById('content'));
